<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact-info</title>
    <link rel="stylesheet" href="/styles/contact-info.css">
</head>

<body>
    <div class="container">
        <div class="contact-info-main">
            <div class="contact-info-backgroung-image">
                <img src="Assets/images/contactBanner.jpg" alt="BannerImage">
            </div>

            <div class="contact-info-main-form">
                <div class="contact-info-main-form-content">
                    <h3>Contact</h3>
                    <span>Need to get in contact or just want to send a message my way!! use this form:</span>
                </div>

                <form action="">
                    <div class="contact-info-main-form-heading">
                        <span><label for="">Email:</label><input type="text"></span>
                        <span><label for="">Name:</label><input type="text"></span>
                    </div>
                    <div class="contact-info-main-form-center">
                        <span><label for="">Subject:</label> <br>
                        <input type="text"></span>
                    </div>
                    <div class="contact-info-main-form-last">
                        <span> <label for="">Mesage:</label>
                        <input type="text"></span>
                    </div>
                    <button>Send</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/scripts/contact-info.js"></script>
</body>

</html>