<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div class="logo">
        <h1><span>V</span>aishnavi.</h1>
    </div>
    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
    <label for="menu-icon"></label>
    <nav class="nav">     
      <ul class="pt-5">
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="skills.html">Skills</a></li>
        <li><a href="project.html">Projects</a></li>
        <li><a href="education.html">Education</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <script src="/scripts/home.js"></script>
</body>
</html>