.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.contact-info-main {
    width: 75%; /* Adjust the maximum width as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contact-info-backgroung-image {
    text-align: center;
    width: 100%;
    position: relative;
}

.contact-info-backgroung-image img {
    width: 100%;
}

.contact-info-main-form {
    position: absolute;
    background: #fff;
    text-align: center;
    width: 100%;
    max-width: 515px;
    padding: 20px 40px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.contact-info-main-form-content {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

form {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info-main-form-content h3 {
    color: gold;
}

.client-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
} 

.client-contact .inputBox:nth-of-type(1) {
    width: 45%;
}
.client-contact .inputBox:nth-of-type(2) {
    width: 45%;
}


.inputBox {
    position: relative;
    width: 490px;
}

.inputBox input {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    outline: none;
    color: #000;
    font-size: 1em;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid black;
}

.inputBox span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    pointer-events: none;
    text-transform: uppercase;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
 {
    transform:translateY(-10px);
    font-size: 0.65em;
    padding: 0 10px;
}

button {
    margin: 30px 0 0 0;
    padding: 15px 40px;
    background: #ffd701;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#rotationImage{
    position: absolute;
    width: 46%;
    top: 15%;
    left: 26.5%;
    transform: translate(-50%, -50%);
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    0% {
		transform: rotate(0deg);
    }
    50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}