.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-info-main {
    width: 75%; /* Adjust the maximum width as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contact-info-backgroung-image {
    text-align: center;
    width: 100%;
    position: relative;
}

.contact-info-backgroung-image img {
    width: 100%;
}

.contact-info-main-form {
    position: absolute;
    background: #fff;
    text-align: center;
    width: 100%;
    max-width: 515px;
    padding: 20px 40px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.contact-info-main-form form {
    width: 100%;
    margin: auto;
}

.contact-info-main-form-content {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contact-info-main-form-content h3 {
    color: gold;
    /* font-family: ; */
}

.contact-info-main-form form span {
    display: block;
    margin-bottom: 10px;
    text-align: left; 
}

.contact-info-main-form form input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid black; 
}

.contact-info-main-form form button {
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    background-color: #fff;
}

.contact-info-main-form-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-info-main-form-last {
    margin-bottom: 20px;
}

